* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b5afc1;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: auto; }

body {
  min-height: 100vh;
  position: relative;
  background-color: #010102; }

@font-face {
  font-family: 'pkmnfont';
  src: url("/css/fonts/PKMN RBYGSC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Cormorant';
  src: url("/css/fonts/Cormorant-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'ChronoType';
  src: url("/css/fonts/ChronoType.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Tommy';
  src: url("/css/fonts/MADE TOMMY Regular_PERSONAL USE.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 2rem; }

.link {
  text-decoration: none;
  font-family: 'pkmnfont';
  font-size: 10px;
  letter-spacing: 2px; }

.main-nav__link {
  letter-spacing: normal;
  font-size: 16px !important;
  margin: 3px; }

.store-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "store-section__title store-section__title store-section__empty" "store-section__products store-section__products store-section__empty" "store-section__products store-section__products store-section__empty";
  max-height: 80vh; }
  .store-section .store-section__title {
    display: flex;
    flex-direction: column; }
    .store-section .store-section__title .store-section__cart-items {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 1rem;
      align-items: center; }
  .store-section .store-section__products .cards {
    display: flex;
    flex-wrap: wrap;
    overflow: auto; }
    .store-section .store-section__products .cards img {
      width: 10rem; }
  .store-section .store-section__empty {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(243, 241, 248, 0.259); }

.store-section__title {
  grid-area: store-section__title; }

.store-section__empty {
  grid-area: store-section__empty; }

.store-section__products {
  grid-area: store-section__products; }

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .welcome-section .welcome-section__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: .6rem;
    width: 100vw;
    height: 80vh;
    animation: aparecer--index--container  450ms ease-in;
    overflow: hidden; }
    .welcome-section .welcome-section__body .welcome-section__item {
      display: flex;
      flex-direction: column; }
      .welcome-section .welcome-section__body .welcome-section__item h1 {
        font-family: 'ChronoType';
        font-size: 24px; }
      .welcome-section .welcome-section__body .welcome-section__item h2 {
        font-family: 'ChronoType';
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 3px; }
      .welcome-section .welcome-section__body .welcome-section__item p {
        font-family: 'ChronoType';
        font-size: 19px;
        letter-spacing: 1px; }
    .welcome-section .welcome-section__body .transition-img .round-img1 {
      position: fixed;
      z-index: 99;
      animation-name: transition-img-FadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-direction: alternate; }
    .welcome-section .welcome-section__body .transition-img .round-img {
      width: 13.5rem;
      clip-path: circle();
      transition: opacity 2s ease-in-out; }
    .welcome-section .welcome-section__body .welcome-section__links {
      display: flex;
      flex-direction: row;
      gap: 13px; }

@keyframes aparecer--index--container {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes transition-img-FadeInOut {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.main-section-show {
  display: none; }

.footer-container {
  position: static; }

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.4rem;
  clear: both;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(243, 241, 248, 0.259);
  flex-direction: row;
  justify-content: space-between;
  background-color: #010102; }

.footer-show {
  display: none; }

.header {
  border-bottom: .3px;
  border-bottom-style: solid;
  border-bottom-color: rgba(218, 218, 221, 0.141); }
  .header__link .logo {
    width: 5rem;
    margin: 1.7rem; }

.main-nav {
  margin: 1.6rem;
  width: 14rem;
  float: left; }
  .main-nav__title1 {
    display: block; }
  .main-nav___section1 {
    display: block; }
    .main-nav___section1 .main-nav__list {
      display: block;
      padding-bottom: .2rem;
      padding-top: .2rem; }
      .main-nav___section1 .main-nav__list .main-nav__item {
        display: block; }
        .main-nav___section1 .main-nav__list .main-nav__item .main-nav__link {
          display: block;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 14px; }

.main-nav-show {
  display: none; }

.btn {
  border: none;
  color: #b5afc1;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(48, 31, 104, 0.385);
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 0.8rem; }
  .btn:hover {
    background-color: #1e1247;
    /* Green */
    color: #ddd4ed; }
