.store-section {
    display: grid; 
    grid-template-columns: .7fr 1.3fr 1.3fr .7fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1px 0px; 
    //min-height: 100vh;
    grid-template-areas: 
    "empty-nav store-section__products store-section__products store-section__empty"
    "empty-nav store-section__products store-section__products store-section__empty"
    "empty-nav store-section__products store-section__products store-section__empty"; 
    .store-section__title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        position: fixed;
        top: 95px;
        left: 16.2rem;
        width: 75%;
        background-color: $negro;
        min-height: 6rem;
        @media screen and (max-width: 1680px) {
            top: 94px;
        }
        .store-section__back {
            width: 12rem;
            .store-section__back-btn {
                display: none;
            }
        }
        
        .store-section__welcome {
            h1 {
                margin: 1rem;
                padding-left: 12%;
                width: 30rem;
            }
        }
        .store-section__btn-back {
            width: 12rem;
            flex-grow: 3;
        }
        .store-section__cart-items {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 1rem;
            align-items: center;
            flex-grow: 0;
            width: 19rem;
            #counter {
                p {
                    font-family: 'ChronoType' !important;
                    font-size: 2.2rem !important;
                    overflow: hidden;
                }
            }
        }
        .store-section__cart-btn {
            display: block;
        }
    }
    

    //STORE
    .store-section__products {
        .store-section__cards {
            display:flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-grow: 3;
            flex-basis: 0;
            gap: .5rem;
            text-align: center;
            padding:.4rem;
            padding-top: 6rem;
            animation: aparecer  250ms ease-in;
            .store-section__card {
                display: flex;
                flex-direction: column;
                flex-basis: min-content;
                transition-duration: 0.1s;
                background-color: $lila__dark__transparent;
                border-radius: 4px;  
                min-height: 36rem;
                width: 23rem;
                box-shadow: 0px 0px 12px rgb(3, 3, 3);
                &:hover {
                    background-color: $lila__light__transparent;
                    transition-duration: .4s;
                    box-shadow: 0px 0px 5px rgba(57, 57, 116, 0.175);
                    cursor: pointer;
                }
                
                .store-section__image-container {
                    img {
                        margin: 1rem;
                        width: 22rem;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgba(0, 0, 0, 0.389);
                        box-shadow: 0px 0px 5px black;
                    }
                    // media query
                    @media screen and (max-width: 1680px) {
                        .store-section__image {
                            width: 19rem;
                        }
                    }
                }
                
                .store-section__body-card {
                    .store-section__name {
                        font-family: 'ChronoType' !important;
                        font-size: 2rem !important;
                    }
                }
                p {
                    color: rgba(181, 175, 193, 0.336);
                }
            }
        }

        //PRODUCT
        .apart-section {
            display: none;
            
            .apart-section__card {
                
                display: flex;
                width: 96%;
                min-height: 10rem;
                padding-top: 6rem;
                max-height: 98%;
                animation: aparecer  650ms ease-in;
                .apart-section__container-image {
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    height: auto;
                    max-width: 50rem;
                    max-height: 66rem;
                    background-color: $lila__dark__transparent;
                    
                    @media screen and (max-width: 1680px) {
                        min-width: 28rem;
                        max-width: 36rem;
                        max-height: 38rem;
                    }
                    .carousel {
                        .carousel-inner{
                            .carousel-item {
                                img {
                                    animation: aparecer  250ms ease-in;
                                }
                            }
                        }
                    }
                }
                
                .apart-section__container-data {
                    display: flex;
                    flex-grow: 2;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    border-style: solid;
                    border-width: 1px 1px 1px 0px;
                    border-color: rgba(80, 80, 80, 0.305);
                    padding: 1rem;
                    .apart-section__title {
                        //flex: 1 0 auto;
                        align-self: center;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        padding-top: 1rem;
                    }
                    .apart-section__data {
                        height: 6rem;
                        margin: 2.5rem;
                        display: flex;
                        
                        align-self: center;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }
                    form {
                        //display: flex;
                        //flex-direction: column;
                        max-width: 24rem;
                        //gap: 8px;
                        //align-items: flex-end;
                        text-align: left;
                        padding: 1rem;
                        label {
                            text-align: right;
                            margin-bottom: 4px;
                        }
                        .apart-section__select{
                            border-width: 0px;
                            background-color: $purpura__light;
                            width: 8rem;
                            height: 2.3rem;
                            border-radius: 5px;
                            word-wrap: break-word;
                            margin-bottom: 4px;

                        }
                        .totaldiv {
                            text-align: right;
                        }
                        .apart-section__price {
                            margin: .2rem;
                            text-align: right;
                            h2 {
                                font-family: 'ChronoType' !important;
                                font-size: 2rem !important;
                            }
                        }
                        .apart-section__onclick {
                            padding: 4px;
                            text-align: right;
                        }
                    }
                }
                
            }
        }
    }


// CART
    .store-section__cart {
        display: none;
        grid-area: store-section__products;
        padding-top: 6rem;
        .cart-title {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr;
            grid-template-areas: 
            "t1 t2 t3 t4 t5";
            gap: 1rem;
            margin:1rem;
            .cart-title__product {grid-area: t1 / t2;}
            .cart-title__cantidad {grid-area: t3;}
            .cart-title__precio {grid-area: t4;}
        }
        .cart__products {
            .cart-item {
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr; 
                gap: 1em 1em; 
                grid-template-areas: 
                "f1 f2 f3 f4 f5"; 
                margin-bottom: 0.5rem;
                gap: 0.5rem;
                border-radius: 6px;
                align-items: center;
                background-color:rgba(38, 24, 82,0.2);
                .cart-item__image-box { 
                    grid-area: f1; 
                    width: 6rem;
                    .imagen--carrito {
                        display:flex;
                        align-items: center;
                        width: 6rem;
                    }
                }
                .cart-item__name-box { grid-area: f2; }
                .cart-item__quantity-box { 
                    grid-area: f3;
                    text-align: center;
                }
                .cart-item__price-box { 
                    grid-area: f4; 
                    text-align: center;
                }
                .cart-item__remove {grid-area: f5;}
            }
        }
        .cart__total {
            #c {
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr; 
                gap: 1em 1em; 
                grid-template-areas: 
                "c1 c2 c3 c4 c5 c6"; 
                gap:2rem;
                width: 100%;
                justify-items: center;
                align-items: center;
                background-color:rgba(21, 13, 47, 0.2);
                #c1 {
                    grid-area: c1;
                }
                #c2 {
                    grid-area: c2;
                }
                #c3 {
                    grid-area: c3;
                }
                #c4 {
                    grid-area: c4;
                }
                #vaciar--carrito {
                    grid-area: c6;
                    .btn--vaciar--carrito {
                        width: 9.4rem;
                    }
                }
                #realizar--compra {
                    grid-area: c5;
                }
            }
        }
    }
    .store-section__empty {
        display: block;
    }
}

// ANIMATIONS
@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;}
}

// GRID AREAS
.store-section__empty { 
    grid-area: store-section__empty; 
}
.store-section__products { 
    grid-area: store-section__products; 
}
.empty-nav {
    grid-area: empty-nav;
    width: 16rem;
}

.apart-section__image {
    //margin: 1rem;
    max-height: 38rem;
    border-style: solid;
    border-width: 1rem;
    border-color: rgba(0, 0, 0, 0.389);
    //box-shadow: 0px 0px 5px black;
    @media screen and (max-width: 1680px) {
        max-height: 60rem;
    }  
}