@import "../abstracts/variables";

// WELCOME SECTION
.welcome-section {
    background-color:$negro;
    .welcome-section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        //align-content: center;
        text-align: center;
        background-color:$negro;
        gap: .6rem;
        //width: 100vw;
        height: 75vh;
        animation: aparecerindexcontainer  450ms ease-in;
        overflow: hidden;
        .welcome-section__item {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            h1 {
                font-family: 'ChronoType';
                font-size: 24px;
            }
            
            h2 {
                font-family: 'ChronoType';
                font-size: 15px;
                font-weight: 900;
                letter-spacing: 3px;
            }
            
            p {
                font-family: 'ChronoType';
                font-size: 19px;
                letter-spacing: 1px;
            }
        }
        .transition-img {
            display: block !important;
            width: 16rem;
            //position: relative;
            //div {
                //overflow: hidden;
            .round-img2 {
                position: sticky;
                animation-name: transition-img-FadeInOut;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 4s;
                animation-direction: alternate-reverse;
            }
            .round-img1 {
                position: relative;
                top: 203.5px;
                z-index: 99;
                animation-name: transition-img-FadeInOut;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 4s;
                animation-direction: alternate;
                
                
            }
            .round-img {
                width: 13.5rem;
                clip-path: circle();
                transition: opacity 4s ease-in-out;
                
            }
            //}
            
        }
        .ws-height {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 5rem;
            width: 55rem;
            overflow: hidden;
            h1 {

                overflow: hidden;
            }
            p {

                overflow: hidden;
            }
            h2 {

                overflow: hidden;
            }

        }
        .welcome-section__links {
            display: flex;
            flex-direction: row;
            gap: 13px;
            
        }
        
    }
}
@keyframes aparecerindexcontainer {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes transition-img-FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
}
// MAIN
.main-section-show {
    display: none;
}

.main-section {
    width: 65rem;
    background-color: $negro;
    .main {
        div {
            h4 {
                text-align: center;
            }
        }
    }
}
