
// background colors
$negro: rgb(1, 1, 2);

// component colors
$purpura__medium: rgb(30, 18, 71);
$purpura__light: rgba(48, 31, 104, 0.385);
$purpura__dark: rgb(11, 4, 33);
$gris: rgba(243, 241, 248, 0.259);

//text colors
$white__medium: rgb(181, 175, 193);

