
// background colors
$negro: rgb(5, 3, 7);

// component colors
$purpura__medium: rgb(30, 18, 71);
$purpura__light: rgba(48, 31, 104, 0.385);
$purpura__dark: rgb(11, 4, 33);
$purpura__dark__transparent:rgba(11, 4, 33, 0.337);
$lila__dark__transparent: rgba(34, 27, 60, 0.382);
$lila__light__transparent: rgba(53, 46, 81, 0.423);
$gris: rgba(243, 241, 248, 0.259);

//text colors
$white__medium: rgb(181, 175, 193);

