@import "../abstracts/variables";

.footer-container {
    position: static;
    height: 4.4rem;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 85%;
    align-items: center;
    text-align: center;
    left: 2%;
    height: 4.4rem;
    //clear:both;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(243, 241, 248, 0.259);
    flex-direction: row;
    justify-content: space-between;
    background-color: $negro;
}
.footer-show {
    display: none;
}