
.nav-container {
    position: static;
    height: 100%;
    width: 16rem;
    
}

.main-nav {
    position: fixed;
    margin: 1.6rem;
    width: 14rem;
    float: left;
    
    &__title1 {
        display: block;
    }
    &___section1 {
        display: block;
        .main-nav__list {
            display: block;
            padding-bottom: .2rem;
            padding-top: .2rem;
            .main-nav__item {
                display: block;
                .main-nav__link {
                    display: block;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 14px;
                }
            }
        }
    }  
}
.main-nav-show {
    display: none;
}

@keyframes aparecernav {
    from {opacity: 0;}
    to {opacity: 1;}
}