@import "../abstracts/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white__medium;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: auto;
}
#root {
    background-color: $negro;
}
body {
    min-height:100vh;  
    max-height: 100vh;
    position:relative; 
    background-color: $negro;
}


// FONTS
@font-face {
    font-family: 'pkmnfont';
    src: url('./fonts/PKMN\ RBYGSC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('./fonts/Cormorant-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ChronoType';
    src: url('./fonts/ChronoType.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    
}
@font-face {
    font-family: 'Tommy';
    src: url('./fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


// Typography
h1 {
    font-size: 2rem;
}

p {
    font-size: 13px;
}
// others
.link {
    text-decoration: none;
    font-family: 'pkmnfont';
    font-size: 10px;
    letter-spacing: 2px;
}
.main-nav__link {
    letter-spacing: normal;
    font-size: 16px !important;
    margin: 3px;
}